name: Deploy Vue App to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.YOGI_AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.YOGI_AWS_SECRET_KEY }}
          aws-region: eu-north-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        run: |
          docker build -t demonuxtproject0135 .
          docker tag demonuxtproject0135:latest ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-north-1.amazonaws.com/demonuxtproject0135:latest
          docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-north-1.amazonaws.com/demonuxtproject0135:latest

      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --template-file cloudformation.yml \
            --stack-name vue-ecs-stack \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides AwsAccountId=${{ secrets.AWS_ACCOUNT_ID }}
